@{
    ViewData["Title"] = "Create Role";
}

@model CarbonFootprint1.Models.ViewModels.PositionVM

<div class="p-4">
    <h1 class="p-2">Create Role</h1>
</div>
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card">
            <div class="mb-8">
            </div>
            <div class="card-body pt-0">
                <form method="post">
                    <div class="row">
                        <div class="col form-group p-4">
                            <label class="form-label" asp-for="PositionInput.Position_Name">Role Name<span class="text-danger"> *</span></label>
                            <input type="text" onkeydown="javascript: return ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 97 && event.keyCode <= 122) || (event.keyCode == 46) || (event.keyCode == 32) || (event.keyCode == 8))"
                                   onpaste="return false;" oncopy="return false;"
                                   class="form-control" asp-for="PositionInput.Position_Name" required placeholder="Enter position name">
                        </div>

                        <div class="col form-group p-4">
                            <label class="form-label" asp-for="PositionInput.Position_Description">Description<span class="text-danger"> *</span></label>
                            <input type="text" onkeydown="javascript: return ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 97 && event.keyCode <= 122) || (event.keyCode == 46) || (event.keyCode == 32) || (event.keyCode == 8))"
                                   onpaste="return false;" oncopy="return false;"
                            class="form-control" asp-for="PositionInput.Position_Description" required placeholder="Enter description here">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label mb-5">Assign Rights</label>
                        @for (int i = 0; i < Model.RoleList.Count; i++)
                        {
                            <span class="form-check form-check-custom form-check-danger form-check-solid mb-4">
                                <input type="hidden" class="form-check-input" asp-for="RoleList[i].Value" />
                                <input type="checkbox" class="form-check-input" asp-for="RoleList[i].Selected" id="@Model.RoleList[i].Text" />
                                <label class="form-check-label" for="@Model.RoleList[i].Text">@Model.RoleList[i].Text</label>
                            </span>
                        }
                    </div>
                    <br />
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-dark" onclick="window.history.back()">Back</a>
                        <button style="width:150px" type="submit" class="btn btn-danger p-4">Add</button>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
        function goBack() {
      window.history.go(-1);
    }
</script>
