@model CarbonFootprint1.Models.BranchDetails
@{
    ViewData["Title"] = "Elecricity Details";
}
<div class="p-4">
    <h1 class="p-2" style="font-size: 30px; text-align: center;">Electricity Details</h1>
</div>
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card">
            <div class="mb-8">
            </div>
            <div class="card-body pt-0">
                <form method="post" asp-controller="Footprint" asp-action="electricity" enctype="multipart/form-data">
                    <input hidden asp-for="CarbornFootprint" />
                    <div class="row">
                        <div class="col form-group p-4">
                            <label class="form-label" asp-for="ElectricityConsumed">Electricity Consumed (In KwH)<span class="text-danger"> *</span></label>
                            <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" asp-for="ElectricityConsumed" required step="0.01" min="0" placeholder="Enter amount consumed">
                        </div>
                        <div class="col form-group p-4">
                            <label class="form-label" asp-for="ElectricityAmount">Amount Paid(GHS)<span class="text-danger"> *</span></label>
                            <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" asp-for="ElectricityAmount" required step="0.01" min="0" placeholder="Enter amount paid">
                        </div>
                    </div>

                    <div class=row>
                        <div class="col-6 form-group p-4">
                            <label class="form-label" asp-for="MeterType">Meter Type</label>
                            <select required class="form-control" asp-for="MeterType">
                                <option disabled selected value="">--- Select from the options below ---</option>
                                <option value="Postpaid">Postpaid</option>
                                <option value="PrePaid">Prepaid</option>
                            </select>
                        </div>

                    </div>
                    <br>
                    <br />
                    <div class="col-6 form-group p-4">
                        <label class="form-label">Add Electricity Receipts</label>
                        <input class="form-control" type="file" name="attachments[]" required placeholder="Select attachment" multiple />
                    </div>

                    <div class="d-flex justify-content-between">
                        <a class="btn btn-dark" onclick="window.history.back()">Back</a>
                        <button type="submit" class="btn btn-danger p-4">Next</button>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
        function goBack() {
      window.history.go(-1);
    }
</script>