@model CarbonFootprint1.Models.BranchDetails
@{
    ViewData["Title"] = "Fuel Details";
}



<div class="p-4">
    <h1 class="p-2" style="font-size: 30px; text-align: center;">Fuel Consumption - Branch Vehicle(s)</h1>
</div>


<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card">
            <div class="mb-8">
            </div>
            <div class="card-body pt-0">
              
            </div>
        </div>

    </div>
</div>


